 /*Robby Brosman's CSS*/

@import url(http://fonts.googleapis.com/css?family=Raleway:400,800,100);

body, .navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: white;
	line-height: 36px;
	background-attachment: fixed;
	vertical-align: middle;

}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand.active, .navbar-default .navbar-nav>li>a:hover {
	background-color: white;
	color: black;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-collapse {
	padding-right: 0;
}



h1 {
	font-size: 40px;
	font-weight: 800;
}

header {
	position: fixed;
	width: 75%;
	right: 12.5%;
	background-color: black;
	height: 63px;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition:  .4s;
}

header.fixedtop {
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition:  .4s;
	width: 100%;
	top: 0px;
	left: 0px;
	margin-left: 0px;
}
.navbar-header {
	background-color: black;
}

header a {
	font-size: 16px;
	font-weight: 800;
	color: inherit;
}
.navbar-nav {
	float: right;
	margin: 0;
}

.navbar-brand span {
	margin-left:10px;
}

.navbar-nav li a, .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-nav li a:hover {
	transition: .2s;
	-webkit-transition: .5s; /* Safari */
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a>img {
	margin-right: 10px;
}

/*Active navbar*/
.navbar-default .navbar-nav>.active>a, .navbar .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar .navbar-nav>.active>a:hover {
	color: black;
	background-color: white;
}

header {
	top: 100px;
	z-index: 9001; /*OVER 9000!!!!*/
}

.jumbotron {
	background-color: #00ffd6;
	margin: 0px 0px 0px 0px;
	padding: 0px;

	/*overflow: hidden;*/
}

#introText {
	/*position: fixed;*/
	z-index: -1;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 100px;
	font-size: 40px;
	font-weight: 400;
	color: #00ffd6;
	
	width: 75%;
	margin-left:12.5%;
}

#home {
	background: none;
}

#home h1 {
	transition: .2s;
	-webkit-transition: .5s; /* Safari */
}

nav.navbar.navbar-default.navbar-header.a.navbar-brand, nav .navbar-default, nav .navbar, nav .navbar-collapse, nav.navbar.navbar-default, nav a, nav .nav a, .navbar-default .navbar-brand {
	background-color: black;
	color: white;
	border: none;
}

nav.navbar.navbar-default.navbar-header.a.navbar-brand:hover,nav a:hover, nav .nav a:hover {
	background-color: white;
	color: black;
}

.navbar-default .navbar-toggle, .navbar-default .navbar-toggle {
	transition: .2s;
	-webkit-transition: .5s; /* Safari */
	color: black;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: white;
}


.templates {
	display: none;
}

/*HEXGON START*/
@media(min-width:875px) {
	.inner img {
		width: auto;
		vertical-align: middle;
		max-width:100%;
		margin:0;
		padding:0;
	}

	.inner {
		top:-55px;
		display: inline-block;
		position: relative;
		max-width: 110px;
		line-height: 22px;
	}



	.hover-inner {
		display: none;
		position: absolute !important;
		color: white;
		font-size: 20px;
		z-index: 5;
		width: 190px;
		line-height: 1em;
	}

	.hex-3-row {
		width: 642px;
		margin: 0 auto;
	}

	.hex-4-row {
		width: 860px;
		margin: 0 auto;
	}

	.hex {
		width: 190px;
		position: relative;

		display: inline-block;
		vertical-align: middle;
		margin: 37px 10px;
		z-index: 10;
		-webkit-font-smoothing: antialiased;
	}

	.hex a {
		background-color: white;
		background-size: auto 220px;
		text-align: center;
		display: block;
		-webkit-backface-visibility: hidden;
		height: 110px;
		line-height: 220px;
		background-position: 50% 50%;
		transition: .5s;
		-webkit-transition: .5s; /* Safari */
	}

	.hex a:hover {
		background-color: coral;
	}

	/*@-webkit-keyframes hex {
	    0%      {background-color: white;}
	    25%     {background-color: coral;}
	    50%     {background-color: yellow;}
	    75%    {background-color: coral;}
	    99%     {background-color: white;}
	}

	@keyframes hex {
	    0%      {background-color: white;}
	    25%     {background-color: coral;}
	    50%     {background-color: yellow;}
	    75%    {background-color: coral;}
	    99%     {background-color: white;}
	}

	.hex-hover {
		-webkit-animation: hex 10s infinite;
	    animation: hex 10s infinite;
	}*/

	.hex-1 {
		z-index: -1;
		-webkit-transform: rotate(60deg);
		-moz-transform: rotate(60deg);
		-ms-transform: rotate(60deg);
		-o-transform: rotate(60deg);
		transform: rotate(60deg);
		position: absolute;
		height: 100%;
		width: 100%;
		overflow: hidden;
		background: inherit;
		background-size: auto 220px;
		-webkit-backface-visibility: hidden;
		display: block;
	}

	.hex-2 {
		-webkit-transform: rotate(-60deg);
		-moz-transform: rotate(-60deg);
		-ms-transform: rotate(-60deg);
		-o-transform: rotate(-60deg);
		transform: rotate(-60deg);
		position: absolute;
		height: 100%;
		width: 100%;
		overflow: hidden;
		background: inherit;
		background-size: auto 220px;
		-webkit-backface-visibility: hidden;
		display: block;
	}

	.hex-1:before {
		-webkit-transform: rotate(-60deg) translate(-50%, 0);
		-moz-transform: rotate(-60deg) translate(-50%, 0);
		-ms-transform: rotate(-60deg) translate(-50%, 0);
		-o-transform: rotate(-60deg) translate(-50%, 0);
		transform: rotate(-60deg) translate(-50%, 0);

		-webkit-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-o-transform-origin: 0 0;
		transform-origin: 0 0;

		height: 220px;
		width: 220px;

		content: '';
		position: absolute;
		background: inherit;
		left: 0;
		z-index: -1;
		background: inherit;
		background-size: auto 220px;
	}

	.hex-2:before {
		-webkit-transform: rotate(60deg)  translate(-7%, -75%);
		-moz-transform: rotate(60deg)  translate(-7%, -75%);
		-ms-transform: rotate(60deg)  translate(-7%, -75%);
		-o-transform: rotate(60deg)  translate(-7%, -75%);
		transform: rotate(60deg)  translate(-7%, -75%);

		-webkit-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-o-transform-origin: 0 0;
		transform-origin: 0 0;

		height: 220px;
		width: 220px;

		content: '';
		position: absolute;
		background: inherit;
		left: 0;
		z-index: -1;
		background: inherit;
		background-size: auto 220px;
	}

	.arduino a{
		background-image: url(../img/portfolio/arduino-bg.jpg);
		transition: .2s;
		-webkit-transition: .5s; /* Safari */
	}

	.clearwire a{
		background-image: url(../img/portfolio/clearwire.jpg);
		transition: .2s;
		-webkit-transition: .5s; /* Safari */
		/*background-position:50% 50%;*/
	}

	.arduino a:hover, .clearwire a:hover {
		background-image: none;
		background-color: coral ;
	}
}/*HEXAGON END*/

/*Mobile Start*/
@media(max-width:874px) {
	.mobile-portfolio {
		width: 75%;
		height: 210px;
		margin: 0 auto;
		margin-top: 15px;
		background-color: black;
	}

	.mobile-portfolio p {
		text-decoration: none;
		text-align: center;
		color: white;
	}
}/*Mobile End*/

#portfolio {
	margin-top: 18px;
	margin-bottom: 18px;
	position: relative;
}

.range-div{
	position: absolute;
	overflow: hidden;
	width: 100%;
	z-index: -1;
}

body {
	background-color: #00ffd6;
}

#contact-buttons {
	width: 414px;
	margin: 0 auto;
}

#contact {
	margin-top: 100px;
}

/*
how to get a down arrow:
#portfolio:before {
	content: '';
	z-index: 5;
	width: 134.34px;
	height: 134.35px;
	background-color: inherit;
	position: absolute;
	top: -65.65px;
	left: 50%;
	margin-left: -10px;
	-webkit-transform: rotate(45deg);
}*/

/*@-webkit-keyframes pulse {
    0%      {color: white;}
    25%     {color: coral;}
    50%     {color: yellow;}
    75%    {color: coral;}
    99%     {color: white;}
}

@keyframes pulse {
    0%      {color: white;}
    25%     {color: coral;}
    50%     {color: yellow;}
    75%    {color: coral;}
    99%     {color: white;}
}
*/
#portfolio h2,  #contact h2{
	padding: 100px;
	font-weight: 700;
	font-size: 70px;
	text-align: center;
	color: white;
	transition: 1s;
	-webkit-transition: 1s; /* Safari */

	/*    background-color: #AD310B;*/
/*    -webkit-animation: pulse 10s infinite;
    animation: pulse 10s infinite;*/
}

#portfolio h2.active, #contact h2.active {
	color: coral;
}

.project-panel {
	display: none;
	position: absolute;
	z-index: 9002;
	background-color: black;
}

.project-panel>img {
	float: right;
}

.fullscreen-project {
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	margin-top: 10%;
	cursor: url(../img/move.png), auto;
	user-select: none;
}

.fullscreen-project img {
	max-width: 500px;
}

.loading {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 9003;
	background-color: black;
	color: white;
}

.loaded {
	display: none;

}


footer {
	text-align: center;
}

/*Come back to this: scroll all the stuff I do to look cool.
#stuff-i-do {
	overflow: hidden;
}

#stuff-i-do ul {
	animation:10s linear 0 normal none infinite change;
}