 /*Robby Brosman's CSS*/
/*midnight blue: #003366*/
@import url(http://fonts.googleapis.com/css?family=Raleway:100,400);


body {
	color: #003366;
}

.header {
	background-color: white;
	padding: 0;
	margin: 0;
}

/*.triangle:after {
	content: '';
	z-index: 1;
	height: 20px;
	width: 20px;
	background-color: inherit;
	position: absolute;
	bottom: -10px;
	left: 50%;
	margin-left: -10px;
	-webkit-transform: rotate(45deg);
}*/

.header img {
	display: block;
	max-width: 200px;
}

/*down arrow*/
.down {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #003366;
	position: absolute;
	bottom: 10%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);

	-webkit-transition: background-color ease-out .5s;
    -moz-transition: background-color ease-out .5s;
    -o-transition: background-color ease-out .5s;
    transition: background-color ease-out .5s;
}

.down:hover {
	background-color: white;
	border: 1px solid #003366;
}

.down .glyphicon-chevron-down {
	color: white;
}

.down:hover .glyphicon-chevron-down {
	color: #003366;
} /*End Down arrow*/

#intro {
	background-color: #003366;
}

#intro p {
	font: 200 30px Raleway, sans-serif;
	color: white;
	padding: 0px 50px 0px 50px;
}

.full-screen-slide {
	position: relative;
}

.full-screen-slide-inner {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.scroll-button, .link {
	color: red;
	-webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease;
}

.scroll-button:hover, .link:hover {
	cursor: pointer;
	color: #d3d3d3;
}


h2 {
	font: 400 50px Raleway, sans-serif;
	padding: 50px;
}

h2 span {
	font-weight: 200;
}

/*START Portfolio

<div class='col-md-4'>
	<div class='image-container'>
		<img src="" alt='' />
	</div>
	<div class='description-container'>
		<p><span class='scrol-button'>Wanna see it?</span></p>
	</div>
</div>
				
*/
.portfolio-item {
	position: relative;
	overflow: hidden;
	width: 300px;
	height: 300px;
}

.portfolio-item div {
	position: absolute;
	transition:all .5s ease-in-out;
	width: 300px;
	height: 300px;
	top: 0px;
}

.portfolio-item .image-container {
	left: 0;
}

.portfolio-item .description-container {
	background-color: #003366;
	font: 200 20px Raleway, sans-serif;
	color: white;
	padding: 20px;
	left:300px;
}


.portfolio-item:hover .image-container {
	left: -300px;
}

.portfolio-item:hover .description-container {
	left: 0px;
}

.portfolio-image-background-1 {
	background-color: rgba(0,51,102,.1);
}

.portfolio-image-background-2 {
	background-color: rgba(0,51,102,.2);
}

.portfolio-image-background-3 {
	background-color: rgba(0,51,102,.3);
}

.portfolio-image-background-4 {
	background-color: rgba(0,51,102,.4);
}

.portfolio-image-background-5 {
	background-color: rgba(0,51,102,.5);
}

.portfolio-image-background-6 {
	background-color: rgba(0, 51, 102, .6);
}
.portfolio-image-background-7 {
	background-color: rgba(0, 51, 102, .7);
}
.portfolio-image-background-8 {
	background-color: rgba(0, 51, 102, .8);
}
.portfolio-image-background-9 {
	background-color: rgba(0, 51, 102, .9);
}
/*END Portfolio*/

#about .full-screen-slide-inner {
	padding: 100px;
	font: 400 30px Raleway, sans-serif;
}