/*Robby Brosman Landing Page CSS*/
body{
	background-image: url("runway.jpg");
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	min-width: 1700 px;
	max-width:1920 px;
	margin: 0px;
	text-transform: uppercase;
	color: white;
	margin: 10px;
}

h1{
	font-size: 72px;
	font-weight:800;
	margin: inherit;
	text-align: center;
}

h2 {
	font-size: 48px;
	font-weight:400;
	margin: inherit;
	text-align: center;
}

p {
	font-size: 36px;
	font-weight: 300;
	margin: inherit;
	text-align: center;
}

img{
	position: fixed;
	right:50%;
	width: 200px;
}