@import '../../vendor/normalize.css';
@import '../_variables.scss';

.c-project {

    box-sizing: border-box;
    padding: $project-padding / 2;

    &:nth-of-type(2n) {
        background-color: $background-color-dark;
    }

    .c-project__description p {
        &::first-letter {
            font-size: 200%;
            font-family: 'Playfair Display', serif;
        }
    }

    .c-project__image {
        display: block;
        padding: 5%;

        img {
            -moz-transition: all 0.3s;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            width: 100%;

            &:hover {
                -moz-transform: scale(1.1);
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }

}

@media screen and (min-width:1200px) {
    .c-project {
        padding: $project-padding;

        .c-project__content {
            display: flex;
            flex-direction: row-reverse;

            .c-project__description p {
                width: 70%;
                p {
                    padding-right: $project-padding;
                    vertical-align: middle;
                }
            }

            .c-project__image {
                width: 30%;
                padding: 0;
                vertical-align: middle;

                img {
                    width: 100%;
                }
            }
        }
    }
}
