@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Playfair+Display');
@import '../../vendor/normalize.css';
@import '../../vendor/fa/css/font-awesome.min.css';
@import '../_variables.scss';

// @media screen and (min-width: 300px) {
//     body { font-size: 200px; }
// }
@media screen and (min-width:1200px) {
    body { font-size:110%; } /* Increase the font size */
}

@media screen and (min-width:1600px) {
    body { font-size:125%; } /* Increase the font size */
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Roboto', sans-serif;
}

.fa {
    text-align: center;
}


a {
    color: $color-dark;

    &:visited {
        color: $color-dark;
    }

    &:hover {
        color: $color-less-dark;
    }
}

$header-height: 75vh;
$logo-height: calc(#{$header-height}/2);
$logo-top: calc((#{$header-height} - 3% - #{$logo-height}) / 2);

header {
    box-sizing: border-box;
    background: url('../../img/me.jpg') no-repeat center  center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: $header-height;
    position: relative;
    overflow-x: hidden;

    &:before, &:after {
        content:'';
        position: absolute;
        bottom: 0;
        width: 50%;
        background-color: $background-color-dark;
        padding-bottom: 3%;
    }
    &:before {
        right: 50%;
        -ms-transform-origin: 100% 100%;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -ms-transform: skewX(45deg);
        -webkit-transform: skewX(45deg);
        transform: skewX(45deg);
    }
    &:after {
        left: 50%;
        -ms-transform-origin: 0 100%;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -ms-transform: skewX(-45deg);
        -webkit-transform: skewX(-45deg);
        transform: skewX(-45deg);
    }

    .c-logo {
        margin: 0 auto;
        display: block;
        height: $logo-height;
        opacity: 0.8;
        padding-top: $logo-top;
    }
}

.c-blurb {
    font-size: 2vw;
    text-align: center;
    background-color: $background-color-dark;
    margin: 0;
    padding: 10vh;
}

footer {
    text-align: center;
}